*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: #160c22;
}
/* Navigation Bar */
.navbar{
    background: #160c22;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%; 
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    background-color: #ffb7c5;
    background-image: linear-gradient(to top, #ffa0c5, #ffc9d7);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; 
    display: flex;
    align-items: center; 
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

/* Spotify Explanation Section */
.mainText{
    background-color: #160c22;
}

.mainText__container{
    display: block;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 20vh;
    z-index: 1;
    width: 100%;
    max-width: 1400px;
    padding: 0 100px;
    text-align: center;
    color: #fff
}

.mainText h1{
    background-color: #ffb7c5;
    background-image: linear-gradient(to top, #ff8ca5, #fff9E3);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; 
}

/* Login Button */
.buttonLogin{
    background-color: #160c22;
}

.buttonLogin__container{
    position: relative;
    color: #ffb7c5;
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    height: 15vh;
}

.buttonLogin__container h2{
    top: 50%;
    left: 50%;
    height: 7.5vh;
}

.buttonLogin__container button{
    color: #fff;
    font-size: 2rem;
    background-color: #ffb7c5;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    transition: all 0.2s;
    outline: none;
    width: 200px;
}

/* What information will be seen */
.main{
    background-color: #160c22;
}

.main h1{
    background-color: #ffb6c5;
    background-image: linear-gradient(to right, #d48a84, #1d839d);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; 
    text-align: center;
    padding-bottom: 35px;
}


.main__container{
    display: flex;
    justify-content: space-between;
    height: 80vh;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
    color: #fff;
}

.main__container p{
        font-size: 1.25rem;
        color: #aaa;
}
.cardOne__container{
    text-align: center;
    border-radius: 10px;
    border-color: #fff;
    border: solid;
    font-size: 1rem;
    background-size: 60%;
    padding: 15px;
    height: 50vh;
    margin: 0 20px;
}

#cardOne__img{
    height: 50%;
    width: 50%;
    margin: 0;
    padding: 15px;
    
}

.cardTwo__container{
    text-align: center;

    border-radius: 10px;
    background-size: 60%;
    border-color: #fff;
    font-size: 1rem;
    padding: 15px;
    border: solid;
    height: 50vh;
    margin: 0 20px;
}

#cardTwo__img{
    height: 50%;
    width: 50%;
    padding: 15px;
    margin: 0;
}

.cardThree__container{
    text-align: center;
    border-radius: 10px;
    background-size: 60%;
    border-color: #fff;
    font-size: 1rem;
    padding: 15px;
    border: solid;
    height: 50vh;
    margin: 0 20px;
}

#cardThree__img{
    height: 50%;
    width: 50%;
    padding: 15px;
}

